<%- include('partials/header') %>

<link rel="stylesheet" href="/css/current-stat.css" />

<title>Smart Agricare | Get your crop detials</title>
</head>
<body>

<%- include('auth/partials/navbar') %>
    
<div class="container crop-details">
    <p class="ah"> 
        ah: <%= values.ah %>  
    </p>
    <p class="atemp"> 
        atemp: <%= values.atemp %>  
    </p>
    <p class="shum"> 
        shum: <%= values.shum %>  
    </p>
    <p class="pH"> 
        pH: <%= values.ph %>  
    </p>
    <p class="rain"> 
        Rain: <%= values.rain %>  
    </p>
</div>

<%- include('partials/footer') %>

</body>
</html>