<%- include('partials/header') %>

<link rel="stylesheet" href="css/current-stat.css" />

<title>Smart Agricare | Get your crop detials</title>
</head>
<body>

<%- include('auth/partials/navbar') %>
    
<div class="container crop-details">
    <p class="gas-value"> 
        Gas value: <%= values.gas_val %>  
    </p>
    <p class="rain-value"> 
        Rain value: <%= values.rain_val %>  
    </p>
</div>

<%- include('partials/footer') %>

</body>
</html>