<%- include('partials/header') %>

<link rel="stylesheet" href="/css/current-stat.css" />

<title>Smart Agricare | Get your land stats</title>
</head>
<body>

<%- include('auth/partials/navbar') %>

<div class="tab-body">
    <div class="tab-btns-div">
        <button class="btn-tablink btn-plot">Plot</button>
        <button class="btn-tablink btn-table">Table</button>
    </div>

    <div class="tab-content plot-tab">
        <img src="/images/view-land-plot.png" loading="lazy" alt="plot" />
    </div>

    <div class="tab-content hidden table-tab">
        <div class="table-div">
            <table>
            <tr>
                <% labels.forEach((label) => { %>
                <th><%= label %></th>
                <% }); %>
            </tr>

            <% docs.forEach((doc) => { %>
            <tr>
                <td><%= doc.when %></td>
                <td><%= doc.rainVal %></td>
                <td><%= doc.gasVal %></td>
            </tr>
            <% }); %>
            </table>
            
        </div>
    </div>
</div>

<%- include('partials/footer') %>

<script src="/js/toggleTabs.js"></script>

</body>
</html>