<%- include('partials/header') %>

<title>Smart Agricare | Home</title>
</head>
<body>

<h1 class="header-home">Home</h1>

<div class="main">

    <% homeProducts.forEach((product, i) => { %>

    <% if (i % 2 === 0) { %>
        <div class="product-div product-div-left">
    <% } else { %>
        <div class="product-div product-div-right">
        <% } %>
        <h1 class="product-title" routeName="<%= product.routeName %>">
            <%= product.title %> 
        </h1>
        <p class="product-desc">
            <%= product.description %> 
        </p>
    </div>
    <% }); %>

</div>

<%- include('partials/footer') %>
