<%- include('partials/header'); -%>

  <link rel="stylesheet" href="/css/index.css" />

  <title>Smart Agricare</title>
</head>
<body>

<!---------------- NAVBAR -- section-1 ---------------->

<section id="section-navbar">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">

      <a href="/" class="navbar-brand">
        <img src="/images/logo.png" alt="brand logo" class="navbar-logo logo" />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menu-collapse"
        aria-controls="menu-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="navbar-nav ml-auto ul-nav-items">
          <li class="nav-item">
            <a href="#features" class="nav-link li-nav-link">Why Smart Agricare?</a>
            <!-- links to features -->
          </li>
          <li class="nav-item">
            <a href="#products" class="nav-link li-nav-link">Products</a>
            <!-- links to products -->
          </li>
          <li class="nav-item">
            <a href="#footer" class="nav-link li-nav-link">About us</a>
            <!-- links to footer -->
          </li>
        </ul>

        <div class="navbar-btns-right-div">
          <a class="nav-link navbar-btn-right" href="/login">
            <button type="button" class="btn btn-dark">Log in</button>
          </a>
  
          <a class="nav-link navbar-btn-right" href="/register">
            <button type="button" class="btn btn-dark">Register</button>
          </a>
        </div>

      </div>
    </nav>
  </div>
</section>

<!---------------- NAVBAR -- section-1 ---------------->


<!-------------- WELCOME -- section-2 ------------->

<section class="section-welcome" id="section-welcome">

  <div class="container-fluid welcome-div">

    <div class="welcome-div-left">
      <h1 class="welcome-text-h1">We <span class="highlight"> celebrate</span> the joy of <span class="highlight"> agriculture!</span>       
      </h1>
      <br>
      
      <h4 class="welcome-desc-h4">Lol gotta add something here. Tag line</h4>
      <br>
      
      <a href="#features">
        <button class="btn btn-light btn-down-arrow">Learn more &DownArrow;</button>
      </a>
    </div>

    <img class="welcome-section-img" src="/images/plant.png" alt="plant image">
    
  </div>

</section>

<!-------------- WELCOME -- section-2------------->

<hr>

<!---------- FEATURES -- section - 3 ----------->

<section class="section" id="features">
  <div class="container-fluid row">

    <h2 class="section-header">FEATURES</h2>
    <h3 class="section-desc">We provide this bro</h3>

    <% featureIcons.forEach(featureIcon => { %>
     
      <div class="col-lg-4 feature-card">
        <span class="feature-span-icon">
          <i class="fas <%= featureIcon.iconName %>"></i>
        </span>
        <h3> <%= featureIcon.header %> </h3>
        <p>
          <%= featureIcon.description %> 
        </p>
      </div>

    <% }); %>

  </div>
</section>

<!---------- FEATURES -- section - 3 ----------->

<hr>

<!--------------- PRODUCTS -- section-4 --------------->

<section class="section" id="products">

  <h2 class="section-header">PRODUCTS</h2>
  <h3 class="section-desc">OMG! We provide a lot of services that you can use to make the best use
  of our resources.</h3>

  <div class="container-fluid row products-row">

    <% products.forEach(product => { %>
     
      <div class="col-lg-4 product-card">

        <!-- img source to be updated -->
        <img src="/images/field-layout.png" class="card-img-top" alt="field layout image" />
        <div class="card-body product-card-body">
          <h5 class="card-title product-card-title"> <%= product.name %>  </h5>
          <p class="card-text product-card-text">
            <%= product.description %> 
          </p>
          <!-- <a href="#" class="btn btn-primary btn-card">Check it out!</a> -->
        </div>
      </div>

    <% }); %>

  </div>
</section>

<!--------------- PRODUCTS -- section-4 --------------->

<!-------------- FOOTER_BANNER section 5 -------------->

<section class="section footer-banner">
  <div class="open-account-div">
    <h3 class="footer-tag">The best way to cultivate is here!</h3>

    <a class="in-btn" href="/register">
      <button type="button" class="btn btn-dark btn-footer-banner">Register now!</button>
    </a>
    
  </div>
  
  <hr>
</section>

<!-------------- FOOTER_BANNER section 5 -------------->

<%- include('partials/footer'); -%>

</body>
</html>