<%- include('partials/header') %>

<link rel="stylesheet" href="/css/loginRegister.css" />

<title>Smart Agricare | Reset password</title>
</head>
<body>

<div class="container mt-5 login-section">
  <h1>Reset your password</h1>
  <div class="row">

    <div class="col-sm-6 form">
      <div class="card">
        <div class="card-body">

        <% if (toRender.formUrl) { %>
           
          <form action="<%= toRender.formUrl %>" method="POST" class="login-form">
            
            <% if (toRender.pwMinLen) { %>

              <div class="form-group form-field">
                <label for="<%= toRender.inputClass %>">
                  <%= toRender.formLabel %>
                </label>
                <input type="<%= toRender.inputClass %>" 
                class="form-control <%= toRender.inputClass %>" 
                name="<%= toRender.inputName %>" 
                placeholder="<%= toRender.placeholder %>" 
                minlength="<%= toRender.pwMinLen %>"
                required >
              </div>

            <% } else { %>             

              <div class="form-group form-field">
                <label for="<%= toRender.inputClass %>">
                  <%= toRender.formLabel %> 
                </label>
                <input type="<%= toRender.inputClass %>" 
                class="form-control <%= toRender.inputClass %>" 
                name="<%= toRender.inputName %>" 
                placeholder="<%= toRender.placeholder %>"
                title="Please enter a valid email id"
                required>
              </div>
            
            <% } %>

            <div class="form-group form-field error hidden">
              <p class="error-text">
                No such user exists!
              </p>
            </div>
        
            <button type="submit" class="btn btn-dark btn-submit"><%= toRender.btnText %></button>
          </form>

        <% } else { %>
          
          <p><%= toRender.msg %> </p>

        <% } %>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>

<script src="/js/login.js"></script>

</body>
</html>