<%- include('partials/header') %>

<link rel="stylesheet" href="css/products.css" />

<title>Smart Agricare | Crop Suggestion</title>
</head>
<body>

<%- include('auth/partials/navbar') %>

<h1 class="product-header">Crop Suggestion</h1>

<div class="row container-main">

    <% csFeatures.forEach(feature => { %>
        <div class="card col feature-card">
            <div class="card-body">
              <h5 class="card-title"><%= feature.title %> </h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= feature.subtitle %></h6>
              <p class="card-text"><%= feature.description %></p>
            </div>
        </div>
    <% }); %>

</div>

<%- include('partials/footer') %>
