<!-- css at global.css -->

<nav class="navbar navbar-expand-lg navbar-light  navbar-auth">

    <div class="container-fluid">

      <a href="<%= toRender.navBrandUrl %>" class="navbar-brand">
        <img src="/images/logo.png" alt="brand logo" class="navbar-logo logo" />
      </a>

      <button 
      class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarText" 
      aria-controls="navbarText" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link li-nav-link" href="<%= toRender.cropSuggestionUrl %>">Crop Suggestion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link li-nav-link disabled-link" href="<%= toRender.fertilizerSuggestionUrl %>">Fertilizer Suggestion</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link li-nav-link disabled-link" href="<%= toRender.precisionIrrigationUrl %>">Precision Irrigation</a>
          </li>

        </ul>

        <ul class="navbar-nav ml-auto ul-nav-items">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-toggle-username" 
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
                <%= toRender.username %> 
              </a>

              <ul class="dropdown-menu dropdown-menu-end dropdown-bg" aria-labelledby="navbarDropdown">
                
                <li><a class="dropdown-item disabled-link" href="#">My crops</a></li>

                <li><a class="dropdown-item disabled-link" href="<%= toRender.userSettings %>">Settings</a></li>

                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="<%= toRender.logout %>">Logout</a></li>

              </ul>
            </li>
        </ul>
        
      </div>
    </div>
</nav>