<%- include('partials/header') %>

<link rel="stylesheet" href="/css/home.css" />

<title>Smart Agricare | Home</title>
</head>
<body>
        
<%- include('user/partials/navbar') %>

<h1 class="header-home-h1">Home</h1>

<div class="main">

    <div class="current-stat-link-div">
        <a href="/user/<%= toRender.username %>/current-stat/weather-forecast" class="current-stat-link">Weather forecast</a>
    
        <a href="/user/<%= toRender.username %>/current-stat/view-land" class="current-stat-link">View land status</a>
    
        <a href="/user/<%= toRender.username %>/current-stat/crop-details" class="current-stat-link disabled-link">Crop Details</a>
    </div>

    <% toRender.homeProducts.forEach((product, i) => { %>

    <% if (i % 2 === 0) { %>
        <div class="product-div product-div-left">
    <% } else { %>
        <div class="product-div product-div-right">
        <% } %>
            <h1 class="product-title" routeName="<%= product.routeName %>">
                <%= product.title %> 
            </h1>
            <p class="product-desc">
                <%= product.description %> 
            </p>
        </div>
    <% }); %>

</div>

<%- include('partials/footer') %>

<script src="/js/home.js"></script>

</body>
</html>