<%- include('partials/header') %>

<link rel="stylesheet" href="/css/currentStatus.css" />

<title>Smart Agricare | Weather forecast</title>
</head>
<body>

<%- include('user/partials/navbar') %>

<div class="container weather-forecast-main">

<% if (toRender.weatherParams) { %>

    <h3 class="weather-conditions-h1">
        Weather report
    </h3>
    
    <div class="weather-condition-div">
        <table class="weather-conditions">
            <tr>
                <% toRender.weatherParams.forEach(el => { %>
                    <th><%= el[0] %></th>
                <% }); %>
            </tr>
            <tr>
                <% toRender.weatherParams.forEach(el => { %>
                    <td><%= el[1] %></td>
                <% }); %>
            </tr>
        </table>
    </div>

<% } else if (toRender.data === false) { %>
 
    <h3>No such city found</h3>

    <button class="btn btn-dark btn-goback" onclick="history.back()">Go back</button>

<% } else { %>

    <h1>Get weather</h1>

    <form action="<%= toRender.formUrl %>" method="get">
        <div class="mb-3 col-6">
            <label for="input-city-name" class="form-label">Enter city name: </label>

            <input type="text" class="form-control" 
            id="input-city-name"         
            placeholder="Enter your city name" 
            autofocus
            name="cityName">
        </div>

        <div class="mb-4 form-check">
            <input class="form-check-input" type="checkbox" value="" name="latlng" id="input-location-access">

            <label class="form-check-label" for="input-location-access">Or check this box to use your current location</label>
        </div>

        <button class="btn btn-dark btn-get-weather" type="submit">Get weather</button>
    </form>

<% } %>

</div>

<%- include('partials/footer') %>

<script src="/js/weatherForecast.js"></script>

</body>
</html>