<%- include('partials/header') %>

<link rel="stylesheet" href="/css/products.css" />

<title>Smart Agricare | Crop Suggestion</title>
</head>
<body>

<%- include('user/partials/navbar') %>

<h1 class="product-header">Crop Suggestion</h1>

<div class="row container-main">

    <% if (toRender.prediction) { %>
        <h3 class="crop-prediction-result">You can grow <span class="highlight"><%= toRender.prediction %></span> on your land.</h3>
    <% } else { %>
        <div class="form-div">
            
            <form action="<%= toRender.formUrl %>" method="get" class="cs-form">
                <% toRender.formEls.forEach(el => { %>
                    <div class="mb-3 col-12">
                        <label for="<%= el.id %>" class="form-label">Enter <%= el.upperCaseId %> value:</label>
                        <input type="number" class="form-control"
                        id="<%= el.id %>"
                        name="<%= el.id %>"
                        placeholder="<%= el.name %> content in soil (Eg: 50)"
                        required>
                    </div>
                <% }); %>
        
                <button class="btn btn-dark btn-crop-suggest" type="submit">Suggest crop</button>
            </form>
        </div>
    <% } %>

</div>

<%- include('partials/footer') %>

</body>
</html>