<%- include('partials/header') %>

<link rel="stylesheet" href="/css/current-stat.css" />

<title>Smart Agricare | Weather forecast</title>
</head>
<body>

<%- include('user/partials/navbar') %>


<div class="container weather-forecast-main">

    <div class="weather-condition-div">
        <h1>Temperature: <span class="highlight"><%= toRender.weatherParams.temp %></span>  degrees Celcius.</h1>

        <p>The weather is currently: <span class="highlight"><%= toRender.weatherParams.desc %></span></p>

        <p>The sky looks like: </p>

        <img src="<%= toRender.weatherParams.imgURL %>" alt="weather-icon">
        
    </div>
</div>


<%- include('partials/footer') %>

</body>
</html>